// Setting the correct charset
@charset "UTF-8";
// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

/* ---------------------- */
/* PeixeLaranja Framework */
/* ---------------------- */

/* printing */
@media print {
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; }
	.no-print { display: none; }
}

/* new clearfix */
.clearfix:after,
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix,
* html .cf { zoom: 1; } /* IE6 */
*:first-child+html .clearfix,
*:first-child+html .cf { zoom: 1; } /* IE7 */

/* boxsizing (box model alternative) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(../js/boxsizing.htc); }

/* CSS3 Tooltips */
.peixe-tooltip { position: relative; text-decoration: none; }
.peixe-tooltip:after { content: attr(data-tooltip); position: absolute; bottom: 130%; left: 20%; background: #222; color: #FFF; width: 150px; padding: 10px 15px; font-weight: bold; font-size: 12px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; display: none; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; text-shadow: 0px 1px 0px rgba(1,1,1,.99); }
.peixe-tooltip:before { content: ""; position: absolute; width: 0; height: 0; border-top: 20px solid #222; border-left: 20px solid transparent; border-right: 20px solid transparent; -webkit-transition: all 0.4s ease; -moz-transition   : all 0.4s ease; display: none; left: 30%; bottom: 90%; }
.peixe-tooltip:hover:after { bottom: 100%; }
.peixe-tooltip:hover:before { bottom: 70%; }
.peixe-tooltip:hover:after, .tooltip:hover:before { display: block; }

/* Helpers */

.helper { font-size: 14px !important; color: #fff !important; padding: 10px 15px !important; line-height: 15px !important; background: #333; border-radius: 5px; position: relative; display: inline-block; cursor: help; }

.arrow-left:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-left:after {	border-color: rgba(51, 51, 51, 0); border-right-color: #333; border-width: 6px; top: 50%; margin-top: -6px; }

.arrow-bottom:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-bottom:after { border-color: rgba(51, 51, 51, 0); border-top-color: #333; border-width: 6px;	left: 50%; margin-left: -6px; }

.arrow-right:after { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-right:after { border-color: rgba(51, 51, 51, 0); border-left-color: #333; border-width: 6px; top: 50%; margin-top: -6px; }

.arrow-top:after { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.arrow-top:after { border-color: rgba(51, 51, 51, 0); border-bottom-color: #333; border-width: 6px; left: 50%; margin-left: -6px; }

/* some support classes */
.hidden { display: none; }
.help { cursor: help; }
.pointer { cursor: pointer; }

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
.fleft { float: left; }
.fright { float: right; }

/* messages */
.wrapper-message { font-family: "Museo Sans web", inherit; position: fixed; top: 0px; left: 0px; width: 100%; line-height: 59px; overflow: hidden; font-size: 25px; z-index: 10000; height: 0px; opacity: 0.95; text-align: center; }
.wrapper-message .success { background: #333; color: #FFF; font-size: 19px; font-weight: 100; padding: 0 20px; border-bottom: 1px solid #1A360B; }
.wrapper-message .error { background: #CC0000; color: #FFF; font-size: 19px; font-weight: 100; padding: 0 20px; border-bottom: 1px solid #870000; }

/* ajax helpers */
.peixe-screen-freezer { position: fixed; z-index: 10000; width: 100%; height: 100%; background: transparent; display: none; }
.peixe-ajax-loader { position: fixed; z-index: 10001; background: #333; padding: 5px 10px; color: #FFF; border-radius: 3px; top: 10px; left: 10px; box-shadow: 0px 1px 2px rgba(1,1,1,.2); text-shadow: 0px -1px 0px rgba(1,1,1,.99); display: none; }

input, a, select {
	&:focus { outline: 0; }
}

/* --------------------------------------------------------------------------------------------------------*/
/* ALGUNS RESETS PARA O FOUNDATION ------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------------*/

/* bug de delay na seleÃ§Ã£o de opÃ§Ãµes no select por causa das transiÃ§Ãµes */
select { -webkit-transition: none !important; -moz-transition: none !important; transition: none !important; }

/* bug de margin-bottom nos top-bars */
.fixed .top-bar { margin-bottom: 0; }

/* rows que ocupam 100% do parent */
.row.full { max-width: 100%; }

/* margin desnecessÃ¡ria no final do formulÃ¡rio dentro de um fieldset, e radius no fieldset */
fieldset { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	form:last-child { margin-bottom: 0; }
}

/* class para remover a margem de itens sob demanda */
.no-margin { margin-bottom: 0 !important; }
h1.no-margin,
h2.no-margin,
h3.no-margin,
h4.no-margin,
h5.no-margin,
h6.no-margin { margin-top: 0px !important; margin-bottom: 0px !important; }

/* e uma para margem embaixo */
.margin-bottom { margin-bottom: 1em !important; }

/* paddings auxiliares */
.padding-top { padding-top: 1em; }
.padding-left { padding-left: 1em; }
.padding-bottom { padding-bottom: 1em; }
.padding-right { padding-right: 1em; }

/* permitindo radius para outros elementos alem dos padroes do foundation... por que nÃ£o? */
.radius { -webkit-border-radius: $global-radius; -moz-border-radius: $global-radius; border-radius: $global-radius; }
.rounded { -webkit-border-radius: $global-rounded; -moz-border-radius: $global-rounded; border-radius: $global-rounded; }

/* corrigindo tamanho do postfix e prefix para forms com tamanho de fonte 16 */
.postfix.button, .prefix.button { line-height: 2.4375em; }

//um mini-fix para alert-box
.alert-box { 
	p:last-child { margin-bottom: 0; } 
}

/* corrigindo probleminhas de formulario */
textarea { height: auto; }

/* dando uma melhorada na tipografia dos Hs */
h2 { letter-spacing: -1px; }
h3 { letter-spacing: -1px; }
h4 { letter-spacing: -1px; }

/* acertando line-height de inputs radio, checkbox, etc. */
.form-height-fix { line-height: emCalc(39); margin-bottom: 1em; }

.hide-for-small.inline { display: none !important; }
.show-for-small.inline { display: inline !important; }

@media #{$small} {
	.hide-for-small.inline { display: inline !important; }
	.show-for-small.inline { display: none !important; }
	.large-no-margin { margin-bottom: 0 !important; }
}

/* consertando labels dos switches */
.switch label { margin: 0 !important; }

/* labels inline para checkbox e radio */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: $form-spacing * .5;
  margin-right: $form-spacing;
  margin-bottom: 0;
  vertical-align: baseline;
}

.font-9 { font-size: 9px; }
.font-10 { font-size: 10px; }
.font-11 { font-size: 11px; }
.font-12 { font-size: 12px; }
.font-13 { font-size: 13px; }
.font-14 { font-size: 14px; }
.font-15 { font-size: 15px; }
.font-16 { font-size: 16px; }

/* consertando as posições das listas */
ul.inside, ol.inside { list-style-position: inside; }