// Setting the correct charset
@charset "UTF-8";
// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables", "foundation/components/global", "foundation/components/buttons", "foundation/components/forms";
@import "peixe-laranja";
@import "project";
@import "compass/css3/border-radius";

/* ------------------------------------------------------------------------------------------------------------------------- */
/* STYLES DBO BACK END ----------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------- */

body { overflow-y: scroll; overflow-x: hidden; } 

textarea { height: auto; }

a {
	&.grey { color: #bbb; 
		&:hover { color: #666; }
	}
}

/* acertando a cor do header */
#main-header .nome-sistema { background-color: $primary-color; }

/* estilos diversos */
.section.subheader { font-size: 14px; text-transform: uppercase; color: #aaa; position: relative; margin: 0 0 -21px 0; line-height: 30px;
	span { display: inline-block; background: #fff; border-bottom: 1px solid #fff; padding: 0px 15px; @include border-radius(5px 5px 0 0); position: relative; top: 15px; left: -15px; margin-top: -15px; }
}

/* modal */
body {
	&.dbo.modal { 
		padding: 1em; overflow-y: auto;
		#main-header { display: none; }
		#main-footer { display: none; }
		#super-admin-bar { display: none !important; }
		.wrapper-dbo-auto-admin .wrapper-module-id,
		.wrapper-dbo-auto-admin .wrapper-module-button-new { display: none; }
		&.no-fixos {
			.wrapper-dbo-auto-admin .wrapper-module-fixos { display: none; }
		}
	}
	&.dbo.section {
		#main-header { display: none; }
		#main-footer { display: none; }
		#super-admin-bar { display: none !important; }
		.wrapper-dbo-auto-admin {
			form { margin-bottom: 0; }		
			#main-submit { margin-bottom: 0; }
			.pagination { margin-bottom: 0; }
		}
	}
	&.dbo.hide-breadcrumb { 
		#auto-admin-header {
			.breadcrumb { display: none; }
			hr { display: none; }
			.button-new { display: inline-block; padding-top: 7px; margin-bottom: 10px; }
		}
	}
	&.dbo.hide-insert-button { 
		#auto-admin-header {
			.button-new { display: none !important; }
		}
	}
}

/* super-admin-bar */
#super-admin-bar { width: 100%; 
	.wrapper-controls { position: relative; 
		.wrapper-buttons { padding: 5px 10px; background: #FFF; position: absolute; z-index: 9000; @include border-radius(0 5px 5px 0); top: 5px; left: 0px; @include box-shadow(0px 1px 3px rgba(1,1,1,.3));
			a { margin-left: 5px; 
				&:first-child { margin-left: 0; }
				&:hover { opacity: 0.8; }
			}		
		}	
	}
}

/* big buttons do cockpit */
#cockpit-big-buttons { margin-bottom: 1em;
	a { border: 1px solid darken(#fff, 15%); display: block; position: relative; padding-top: 100%; color: darken(#fff, 45%); background-color: darken(#fff, 1%); -webkit-transition: all .15s ease; -moz-transition: all .15s ease; transition: all .15s ease;
		span.icon { position: absolute; display: block; width: 40%; height: 40%; top: 25%; left: 30%; background-size: cover; background-repeat: no-repeat; opacity: .6; }
		div.name { position: absolute; width: 100%; bottom: 0; text-align: center; left: 0; padding: 0.2em; font-size: emCalc(14); }
		&:hover { border: 1px solid $primary-color; box-shadow: 0px 1px 3px lighten($primary-color, 30%); background-color: darken(#fff, 5%); color: darken($primary-color, 10%); 
			span.icon { opacity: .7; }
		}
		.notifications { position: absolute; top: -0.4em; right: -0.4em; background-color: $primary-color; color: #fff; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; min-height: 2em; min-width: 2em; line-height: 2em; text-align: center; }
	}
}

/* estilos para os icones da sidebar */
#cockpit-side-nav { 
	li { position: relative;
		i { display: inline-block; width: 1em; height: 1em; margin-right: .8em; background-size: cover; position: relative; bottom: emCalc(-2); opacity: .5; }
	}
	.notifications { position: absolute; top: 0; right: 0; min-height: 1.5em; min-width: 1.5em; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; background-color: $primary-color; color: #fff; text-align: center; }
}

/* icones do font-awesome */
i[class^=fa-].big-icon { font-size: 25px; }

/* erros dos forms */
.validation-error {
	label { color: $alert-color; }
	input, textarea, select { border: 1px solid $alert-color !important; background-color: lighten($alert-color, 55%) !important; }
	.form-height-fix * { color: $alert-color; }
}

/* correção necessária para o fadeIn - fadeOut na listagem dos cadastros */
.anchor-get-list { display: block; }

/* estilos para as tabelas */
table { width: 100%; border-spacing: 0; 
	&.valign-top {
		tr {
			td { vertical-align: top; }
		}
	}
}
table {
	&.full {
		thead {
			tr {
				th {
					&:first-child { padding-left: 0; }
					&:last-child { padding-right: 0; }
				}
			}
		}
		tbody {
			tr {
				td {
					&:first-child { padding-left: 0; }
					&:last-child { padding-right: 0; }
				}
			}
		}
	}
	th { border-bottom: 1px solid #ddd; 
		background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,.09) 86%, rgba(0,0,0,.06) 100%);
		background-image: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,.09) 86%, rgba(0,0,0,.06) 100%);
		background-image: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,.09) 86%, rgba(0,0,0,.06) 100%);
		background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,.09) 86%, rgba(0,0,0,.06) 100%);
		a { color: #444; }
	}
	tbody {
		td { border-bottom: 1px solid #eee; border-top: 1px solid transparent; 
			&:first-child { border-left: 1px solid transparent; }
			&:last-child { border-right: 1px solid transparent; }
		}
	}
	td.view-handle { cursor: pointer; }
	&.list {
		tbody {
			tr {
				&[data-update-url] { cursor: pointer; }
				td { 
					&:first-child {
						//&:after { content: ''; position: absolute; top: -1px; right: 100%; width: 0px; height: calc(100% + 2px); background: transparent; @include transition(width .15s linear .05s); }
					}
					&.control-icons {
						a { color: #bbb;
							&.primary { color: $primary-color; 
								&:hover { color: darken($primary-color, 10%); }
							}
							&.alert { color: lighten($alert-color, 30%); 
								&:hover { color: $alert-color; }
							}
							&:hover { color: #666; }
							i { font-size: 42px; margin-left: .2em; }
						}
					}
				}
			}
		}
	}
}

//table tbody tr:not(.active):hover td { background: #eee; }

/* estilo para as tabelas responsivas */
table.responsive {
	thead { display: none; }
	tbody { 
		tr { display: block; border-top: 4px solid #ccc;
			td { display: block; padding-left: 40% !important; position: relative; min-height: emCalc(39);
				&:before { content: attr(data-title); position: absolute; font-weight: bold; top: emCalc(10); left: emCalc(10); }
			}
		}
	}
}

/* icones ao lado das ordenações na listagem dos cadastros */
.dbo-link-order { background: url(../dbo/core/images/link-order-by.png) right 2px no-repeat; padding-right: 15px; }
.dbo-link-order-asc { background-image: url(../dbo/core/images/link-order-by-asc.png); }
.dbo-link-order-desc { background-image: url(../dbo/core/images/link-order-by-desc.png); }

/* layout para os input-images */
.thumb-lista { padding: 3px; border: 1px solid #CCC; -webkit-box-shadow: 0px 1px 3px #DDD; margin-bottom: 1em; display: block; }
table.list .thumb-lista { margin-bottom: 0px !important; }

/* ajustes de layout nas views dos cadastros */
.viewset {
	fieldset { margin-top: 0; }
	.row { 
		.field { font-weight: bold; margin-bottom: 1em; }
	}
}

/* layout da tela de permissões */
.wrapper-permissions { 
	.header, .item { cursor: pointer; 
		&:hover { text-decoration: underline; }
	}
	.item.off { opacity: .4; }
	.item { display: block;
		input { margin-bottom: 0; }
	}
}

/* tela com o hard browser check, para IE menor que 9 */
#login-browser-warning {
	h6 { color: $alert-color; text-transform: uppercase; }
	p, ul { font-size: emCalc(14); }
	ul { 
		li { display: block; float: left; width: 50%; text-align: center; list-style: none; margin-bottom: 1em;
			img { width: 120px; display: block; margin: 0 auto; }
		}
	}
	.internet-explorer {
		color: darken(#4AAEEC, 10%);
		img { width: 16px; height: 16px; }
	}
}

/* corrigindo estilos do tinymce */
.mce-tinymce { margin-bottom: 1em !important; }

/* estilos para o cabecalho padrao */

.top-bar {
	.dropdown { @include box-shadow(0px 1px 3px rgba(1,1,1,.2)); }
	h1 a { text-indent: -10000px; background: url(../images/logo-unesp-header-color.png) 0 center no-repeat; min-width: 100px !important; height: 45px; position: relative; }
}

#main-header {
	h1, h2 { margin: 0; padding: 0; font-weight: normal; font-size: emCalc(16); line-height: emCalc(35); }
	h2 { font-size: emCalc(23); color: #fff; font-weight: 500; }
	.nome-sistema { text-shadow: 0px 1px 0px rgba(1,1,1,/*.2*/0); background-color: $header-color; color: #fff; line-height: emCalc(50);
		box-shadow: inset 0px 1px 3px rgba(1,1,1,.2);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(1,1,1,0)), to(rgba(1,1,1,.05)));
		background-image: -webkit-linear-gradient(rgba(1,1,1,0), rgba(1,1,1,.05));
		background-image: -moz-linear-gradient(rgba(1,1,1,0), rgba(1,1,1,.05));
		background-image: -o-linear-gradient(rgba(1,1,1,0), rgba(1,1,1,.05));
		background-image: linear-gradient(rgba(1,1,1,0), rgba(1,1,1,.05));
		i { width: 40px; height: 40px; background: url(../images/icon-central-shadow.png) 0 0 no-repeat; background-size: auto; display: inline-block; vertical-align: middle; position: relative; top: -2px; }
		h2 { text-align: center; }
	}
	.logo { display: inline-block; background: url(../images/logo-unesp-header-color.png); width: 100px; height: 35px; text-indent: 10000px; overflow: hidden; }
	.first-row { height: emCalc(39); line-height: emCalc(39);
		ul.bread-crumb { margin: 0; padding: 0; font-size: emCalc(14); }
	}
}

.main-tabs {
	ul.left, ul.right { 
		a { border-bottom: 1px solid #ddd; }
	}
}

//estilos para o bredcrumb inspirado no foundation
.breadcrumb {
	&.border { border-bottom: 1px solid #ddd; margin-bottom: .75em; }
	ul:not(.no-breadcrumb) { list-style: none; text-transform: uppercase; display: block; margin-bottom: .75em;
		&:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
		li { display: list-item; float: left; font-size: emCalc(11); padding-right: 1.8em; position: relative;
			&:after { content: '/'; color: #999; position: absolute; top: 1; right: .75em; }
			&:last-child {
				&:after { display: none; }
			}
			&.unavailable {
				a { color: #999; cursor: default; 
					&:hover { text-decoration: none; }
				}
			}
			&.current, &:last-child:not(.linked-last) {
				a { color: inherit; cursor: default; 
					&:hover { text-decoration: none; }
				}
			}
			a { 
				&:hover { text-decoration: underline; }
			}
		}
	}
}

.bread-crumb { margin: 0 auto; margin-bottom: 1em; font-size: 14px; line-height: 39px; padding: 0 10px; 
	li { display: inline-block; position: relative; padding-left: 30px; 
		&:before { /*content: url(../images/bread-bullet.png); width: 7px; height: 7px; position: absolute; left: 10px; top: 0px;*/ }
		&:last-child a:not(.label) { color: #333; text-decoration: none; }
		a { color: $neutral-link-color; text-decoration: underline; 
			&:hover { color: darken($neutral-link-color, 30%); }
		}
		a.label { color: #fff; text-decoration: none;
			&+a { display: block; margin-top: emCalc(-15); }
		}
	}
}

#ui-datepicker-div { z-index: 50 !important; }

/* icones do menu */
.top-bar li i { display: none; } 

/* correção da listagem de radios e checkbox */
.list-radio-checkbox span span { display: none; }

/* inputs falsos, uma melhoria do readonly */

.item {
	&.ok {
		.select2-container > a.select2-choice { padding-left: 8px !important; border: 1px solid $primary-color !important; background-color: lighten($primary-color, 25%) !important; 
			> .select2-chosen { overflow: show !important;
				&:before { font-family: "FontAwesome"; content: "\f00c"; color: $primary-color; margin-right: .5em; }
			}
		}
	}
	&.validation-error {
		.select2-container > a.select2-choice { border: 1px solid $alert-color !important; background-color: lighten($alert-color, 55%) !important; }
	}
}

.fake-input { 
    @include form-element;
	line-height: 20px;
	&:before { font-family: "FontAwesome"; content: "\f023"; margin-right: .5em; }
	&.ok { border: 1px solid $primary-color !important; background-color: lighten($primary-color, 25%) !important;
		&:before { content: "\f00c"; color: $primary-color; }
	}
	&.validation-error { border: 1px solid $alert-color; background-color: lighten($alert-color, 55%); 
		&:before { content: "\f00d"; color: $alert-color; }
	}
}

.bullet-required { color: red; }

.tag-status.has-tip { border-bottom: 0; 
	&:hover { color: #fff; }
}

/* cores para uso diverso */
.color {
	&.primary { color: $primary-color; 
		&.pointer:hover { color: darken($primary-color, 15%); }
	}
	&.secondary { color: $secondary-color; 
		&.pointer:hover { color: darken($secondary-color, 15%); }
	}
}

/* classes de visibilidade */
.form-insert .hfi { display: none; }
.form-update .hfu { display: none; }

/* estilos para integração com wordpress */
body.wordpress { 
		
	background: #F1F1F1; 

	$wordpress-main-color: #0074A2;
	$wordpress-button-hover-color: #363b3f;

	a { color: $wordpress-main-color; }

	.button { color: $wordpress-main-color; background-color: #e0e0e0; border: none; outline: none; @include transition(none); box-shadow: none;
		&:hover { background-color: $wordpress-button-hover-color; color: #fff; }
	}

	ul.pagination li.current a { background-color: $wordpress-main-color; }

	.wrapper-dbo-auto-admin .row { max-width: 100%; 
		.wrapper-module-id { display: inline-block; width: auto;
			h2 a { font-size: 23px; color: #222; font-weight: 400; }
		}
		.wrapper-module-button-new { display: inline-block; width: auto; float: none; padding-top: 24px; 
			.button { font-weight: 600; font-size: 13px; border: 0; background-color: #e0e0e0; color: $wordpress-main-color; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: none; -moz-transition: none; transition: none; box-shadow: none;
				&:hover { background-color: $wordpress-button-hover-color; color: #fff; }
			}
		}
	}

	#main-header { display: none; }
	table { background: #fff; border: 1px solid #e5e5e5;
		thead {
			th { font-weight: normal; color: #222; 
				a { color: #333; }
			}
		}
		tbody {
			tr:nth-child(odd) { background: #F9F9F9 }
			td { border-bottom: 0; background: transparent; }
		}
	}
	.processing-time, .dbo-queries-number { display: none; }
	#super-admin-bar { display: none; }

	.wrapper-message { line-height: 28px; font-size: 16px; z-index: 10000; opacity: 0.7; pointer-events: none; 
		.success { font-size: 16px; font-weight: bold; text-shadow: none; border-bottom: 0; font-weight: 100; }
		.error { font-size: 16px; font-weight: bold; padding: 0 20px; text-shadow: none; border-bottom: 0; font-weight: 100; }
	}
}

/* estilos para labels */
.label {
	&.expand { display: block; }
	&.ok { background-color: $status-color-ok; }
	&.warning { background-color: $status-color-warning; }
	&.alert { background-color: $status-color-alert; }
	&.ongoing { background-color: $status-color-ongoing; }
	&.cancel { background-color: $status-color-cancel; color: #999; }
	&.alt { padding: 3px 5px; } 
}

/* estilos para os select2 */
.select2-container { @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.15)); margin-bottom: 1em !important; }
.select2-container-multi .select2-choices .select2-search-choice-focus { background: lighten($primary-color, 10%) !important; }
.select2-results {
	.select2-highlighted { background: $primary-color; color: #fff; }
}
select.select2[multiple] { opacity: 0; } //escondendo os select multipe que sejam select2, para evitar flickering na renderização da página

.reveal-modal.smart.small { width: 100%; left: 0; margin-left: auto; }
.reveal-modal.smart.medium { width: 100%; left: 0; margin-left: auto; }
.reveal-modal.smart.large { width: 100%; left: 0; margin-left: auto; } 

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* - PARA TELAS MAIORES QUE 768 ------------------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

@media #{$small} {

	.tooltip { max-width: 400px; }

	.reveal-modal.smart.small { width: 700px; left: 50%; margin-left: -350px; }
	.reveal-modal.smart.medium { width: 96%; left: 50%; margin-left: -48%; }
	.reveal-modal.smart.large { width: 96%; left: 50%; margin-left: -48%; }
	
	.row.almost.full { max-width: 1300px; }

	.wrapper-dbo-auto-admin {
		.filter-button { position: absolute; right: $column-gutter; top: 5px; }
		.large-no-wrap { white-space: nowrap; }
	}
	.viewset {
		.row { border-bottom: 1px solid #ddd;
			&:first-child label { margin-top: 0; }
			&:last-child { border-bottom: 0; margin-top: 1em; }
			label { font-size: emCalc(13); color: #999; margin-top: 1em; }
			.columns { border-right: 1px solid #ddd;
				&:last-child { border-right: 0; }
			}
		}
	}
	.wrapper-permissions { 
		.item { display: inline-block; margin-right: 2em; }
	}

	.bread-crumb { 
		li { 
			&:first-child { display: inline-block; padding: 0; }
			&:first-child:before { display: none; }
		}
	}

	/* acertando posição dos campos de formulário dentro das top-bars */
	.top-bar {
		input, .button { top: emCalc(6px); line-height: 2em; font-size: 0.875em; height: 2em; padding: 0 10px; position: relative; }
	}

	table {
		&.responsive {
			&.full {
				tbody {
					tr {
						td {
							&:first-child { padding-left: 0 !important; } 
						}
					}
				}
			}
			thead { display: table-header-group; }
			tbody { 
				tr { display: table-row; border-top: 4px solid #ccc;
					td { display: table-cell; padding-left: emCalc(10) !important; position: relative; min-height: auto;
						&:before { content: ''; position: absolute; font-weight: bold; top: 0; left: 0; display: none; }
					}
				}
			}
		}
		&.list {
			tbody {
				tr {
					&:hover { 
						td { border-top: 1px solid $primary-color; border-bottom: 1px solid $primary-color; 
							&:first-child { border-left: 1px solid $primary-color; 
								//&:after { content: ''; position: absolute; top: -1px; right: 100%; width: 10px; height: calc(100% + 2px); background: $primary-color; }
							}
							&:last-child { border-right: 1px solid $primary-color; }
						}
					}
					td { 
						&.control-icons {
							a { 
								i { font-size: 16px; }
							}
						}
					}
				}
			}
		}
	}


	#main-header { margin-bottom: emCalc(30);
		.nome-sistema h2 { text-align: left; }		
		/*.main-tabs { height: emCalc(45);
			ul { padding: 0; }
			li { margin: emCalc(12) 0 0 0; width: auto; padding: 0;
				a { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border: 1px solid #ddd; border-bottom: 1px solid #fff; margin-right: 4px; border-bottom: 1px solid #ddd; font-size: emCalc(16); }
			}
			li.active a { border-bottom: 1px solid #fff; }
		}*/
	}

	.main-tabs { border-bottom: 1px solid #ddd; height: emCalc(39);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), color-stop(0.92, rgba(255,255,255,.09)), to(rgba(0,0,0,.06)));
		background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,.09) 92%, rgba(0,0,0,.06) 100%);
		background-image: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,.09) 92%, rgba(0,0,0,.06) 100%);
		background-image: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,.09) 92%, rgba(0,0,0,.06) 100%);
		background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(255,255,255,.09) 92%, rgba(0,0,0,.06) 100%);
		.top-bar { height: emCalc(39);
			ul.left, ul.right {
				a { border-bottom: 0px; }
			}
			ul.dropdown { background: #fff; 
				li.divider { border-bottom: 1px solid #eee; }
			}
			section > ul { background: rgba(255,255,255,0); 
				> li > a { font-size: emCalc(14); line-height: emCalc(35); margin-top: emCalc(8); }
			}
			section > ul.left { background: rgba(255,255,255,0); padding-left: $column-gutter/2;
				> li { margin-right: 3px; }
				> li > a { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border: 1px solid #ddd; background: rgba(1,1,1,.05); color: #999;
					&:hover { color: #222; }
				}
				> li.active > a { background: #fff; border-bottom: 1px solid #fff; color: #222; }
			}
			section > ul.right { height: emCalc(37); padding-right: $column-gutter/2;
				> li { margin-right: 3px; }
				> li.divider { position: relative;
					&:after { content: '\2022'; position: absolute; top: emCalc(10); left: emCalc(-3); }
				}
				> li > a { color: $neutral-link-color; padding: 0 emCalc(10); text-decoration: underline;
					&:hover { color: darken($neutral-link-color, 30%); }
					&:not([href]) { color: #222; cursor: default; text-decoration: none; }
					&:not([href]):hover { text-decoration: none; }
				}
			}
		}
	}

	/* this nasty bug is for fixing firefox margin-top */
	@-moz-document url-prefix() {
		.main-tabs .top-bar section > ul > li > a { margin-top: emCalc(7); }
	}

	/* imagens nos formularios */
	.thumb-lista { max-width: 50%; }

	/* icones do menu */
	.top-bar li i { display: inline-block; width: 16px; height: 16px; background-repeat: no-repeat; background-position: center center; opacity: .8; position: relative; top: 3px; } 

}

// media query custom
@media only screen and (min-width: 1000px) {
	.reveal-modal.smart.medium { width: 950px; left: 50%; margin-left: -475px; }
}

@media only screen and (min-width: 1250px) {
	.reveal-modal.smart.large { width: 1200px; left: 50%; margin-left: -600px; }
}

@media #{$large} {
	.wrapper-permissions { 
		.row.full { padding-left: emCalc(150); }
	}
}

/* experimental */
.grey-state { @include desature-on; opacity: .7; -webkit-transition: all .15s ease; -moz-transition: all .15s ease; transition: all .15s ease;
	&:hover { @include desature-off; opacity: 1; }
}